@page
@model Hofre.Areas.Admin.Pages.Tickets.IndexModel
@{
}
<div class="content-body">
    <div class="row">
        <!--Light Start-->
        <div class="col-lg-12 col-12 mb-30">
            <div class="box">
                <div class="box-head">
                    <h4 class="title">Light</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>کاربر</th>
                                <th>موضوع</th>
                                <th>آخرین پیام</th>
                                <th>تاریخ</th>
                                <th>وضعیت</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Tickets)
                            {
                                <tr>
                                    <th>@item.Id</th>
                                    <td>@item.Username</td>
                                    <td>@item.Type</td>
                                    <td>@item.LastMessage</td>
                                    <td>@item.CreationDate</td>

                                    @if (item.IsActive == true)
                                    {
                                        <td>فعال</td>
                                    }
                                    else
                                    {
                                        <td>غیرفعال</td>
                                    }

                                    <td>
                                        <a class="button button-success" asp-page="./Room" asp-route-Id="@item.Id">چت با کاربر</a>
                                    </td>
                                    @{
                                        if (item.IsActive == true)
                                        {
                                            <td>
                                                <form method="post" asp-page-handler="Close">
                                                    <input type="hidden" name="Id" value="@item.Id">
                                                    <button type="submit" class="btn btn-danger">بستن</button>
                                                </form>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <form method="post" asp-page-handler="Open">
                                                    <input type="hidden" name="Id" value="@item.Id">
                                                    <button type="submit" class="btn btn-primary">باز کردن</button>
                                                </form>
                                            </td>
                                        }
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Light End-->


    </div>
</div>
<!--   -----------------------------------------------------   -->
