@page
@model Hofre.Areas.Admin.Pages.CourseCategories.IndexModel
@{
}

<div class="content-body">
    <!-- Page Headings Start -->
    <div class="row justify-content-between align-items-center mb-10">


        <!-- Page Heading Start -->
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <h3 class="title">دسته بندی دوره ها</h3>
            </div>

        </div><!-- Page Heading End -->
        <a class="button button-success" asp-page="./Create">افزودن دسته بندی</a>
    </div><!-- Page Headings End -->

    <div class="row">


        <!--Basic Start-->
        <div class="col-12 mb-30">

            <div class="box">
                <div class="box-head">
                    <h3 class="title">لیست</h3>
                </div>
                <div class="box-body">

                    <table class="table footable" data-paging="true" data-filtering="true" data-sorting="true" data-breakpoints='{ "xs": 480, "sm": 768, "md": 992, "lg": 1200, "xl": 1400 }'>

                        <thead>
                            <tr>
                                <th data-name="نام دسته">نام دسته</th>
                                <th data-name="اسلاگ">اسلاگ</th>
                                <th data-name="تاریخ ایجاد">تاریخ ایجاد</th>
                                <th data-name="تعداد دوره">تعداد دوره</th>
                                <th>عملیات</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                @foreach (var item in Model.courseCategories)
                                {

                                    <td>@item.Name</td>
                                    <td>@item.Slug</td>
                                    <td>@item.CreationDate</td>
                                    <td>@item.CourseCount</td>
                                    <td width="70">
                                        <a class="button button-warning" asp-page="./Edit" asp-route-Id="@item.Id">ویرایش</a>
                                    </td>
                                    <td width="70">
                                        <form method="post">
                                            <input type="hidden" name="Id" value="@item.Id" />
                                            <button class="button button-danger">حذف</button>
                                        </form>
                                    </td>

                                }
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

</div><!-- Content Body End -->

@section Scripts{
    <!-- Global Vendor, plugins & Activation JS -->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="assets/js/main.js"></script>

    <!-- Plugins & Activation JS For Only This Page -->
    <script src="~/assets/js/plugins/moment/moment.min.js"></script>
    <script src="~/assets/js/plugins/footable/footable.min.js"></script>
    <script src="~/assets/js/plugins/footable/footable.active.js"></script>
}